:noremap <Space>c :action CompareClipboardWithSelection<CR>
:noremap <Space>m :action MoveEditorToOppositeTabGroup<CR>
:noremap <Space>. :action NextSplitter<CR>
:noremap <Space>, :action PrevSplitter<CR>
:noremap <Space>u :action UnsplitAll<CR>
:noremap <Space>s :action SplitVertically<CR>
:noremap <Space>b :action ToggleBookmark<CR>
:noremap <Space><Space> :action SelectIn<CR>
:noremap <Space><CR> :action QuickEvaluateExpression<CR>
:noremap <Space>e :action EvaluateExpression<CR>
:noremap <Space>k :action EditorCloneCaretBelow<CR>
:noremap <Space>j :action EditorCloneCaretAbove<CR>
:noremap gb :action ShowBookmarks<CR>
:noremap g, :action GotoPreviousBookmark<CR>
:noremap g. :action GotoNextBookmark<CR>
:noremap ) :action EditorSelectWord<CR>
:noremap ( :action EditorUnSelectWord<CR>
:noremap <Space>o :action Blaze.OpenInCider<CR>
:noremap <Space>/ :action CodesearchSearchAction<CR>

source /e/shell/vimrc_components/keymap.vim
